.box{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    background-image: linear-gradient(orange,white,green);
}

.mydiv{
    border: 1px solid black;
    margin: 10px;
    height: 300px;
    width: 500px;
    background-image: radial-gradient(yellow 20%,orange 5%,red 80%,white);
}

