div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}

.translated{
    transform: perspective(10px) translateZ(-5px);
}

.scaled{
    margin-left: 200px;
    transform: perspective(350px) scaleZ(2px) rotateZ(30deg) ;
    transform: rotateZ(30deg);
}