.container{
    height: 1000px;
    width: 1500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}

.box{
    height: 150px;
    width: 150px;
    margin: 200px;
    border: 2px solid orange;
    background-color: aqua;
    /* transition-property: background-color;
    transition-delay: 2s; */
    transition: transform 3s ease 1s;

}
.box:hover{
    background-color: rgb(98, 0, 255);
    transition: 10s;
    transform: translateX(200px) rotate(4400deg);
    scale: 2;
}